{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 static i18n %}
{% load static %}

<!-- Overwrite page title -->
{% block bootstrap4_title %}{% trans 'Tirpitz Forum' %}{% endblock %}

<!-- Overwrite js extra head -->
{% block bootstrap4_extra_head %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}">
{% endblock %}

<!-- Overwrite place before content -->
{% block bootstrap4_before_content %}
    <!-- Overwrite body class -->
    <body class="d-flex flex-column min-vh-100">

    <!-- Great place for menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

        <!-- Website logo and title -->
        <a class="navbar-brand" href="{% url 'core:index' %}">
            <img src="{% static '/core/img/favicon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            {% trans 'Python Academy Forum' %}
        </a>

        <!-- Mobile menu button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#websiteMainNavbar" aria-controls="websiteMainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Website menu elements -->
        <div class="collapse navbar-collapse" id="websiteMainNavbar">

            <!-- Website menu elements on left -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">url #1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">url #2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">url #2</a>
                </li>
            </ul>

            <!-- Website menu search -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
            </form>

            <!-- Website menu user -->
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item dropdown">

                    <!-- User avatar -->
                    <a class="nav-link dropdown-toggle" id="avatarNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% if request.user.is_authenticated %}{% static 'core/img/guest.png' %}{% else %}{% static 'core/img/guest.png' %}{% endif %}"
                             class="border border-primary rounded-circle"
                             alt="{{ user.get_username }}" width="40" height="40">
                    </a>

                    <!-- User avatar actions -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarNavbar">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item">{{ request.user }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">{% trans 'Login' %}</a>
                            <a class="dropdown-item" href="{% url 'core:register' %}">{% trans 'Register' %}</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

<!-- Page content -->
{% block bootstrap4_content %}
    <div class="container my-4" >
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

<!-- Overwrite place after content -->
{% block bootstrap4_after_content %}
    <!-- Great place for footer -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-auto">
        <div class="container text-center">
            <small>Copyright {% now 'Y' %} &copy; Your Website</small>
        </div>
    </footer>
    </body>
{% endblock %}
