{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <div class="row">
        <div class="col">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>{% blocktrans with name=category.name %}Are you sure you want to delete {{ name }} ?{% endblocktrans %}</h1>

                <div class="d-none d-lg-block d-xl-block">
                    {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger" %}
                    <a href="{% url 'core:index' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
                <div class="d-lg-none d-xl-none">
                    {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger btn-block" %}
                    <a href="{% url 'core:index' %}" class="btn btn-secondary btn-block">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
