{% extends 'base.html' %}
{% load bootstrap4 static i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        {% trans 'Categories' %}
                    </div>
                    {% if user.is_superuser %}
                    <div class="float-right">
                        <a href="{% url 'core:create_category' %}" class="badge badge-success">{% trans 'Create new category' %}</a>
                    </div>
                    {% endif %}
                </div>

                <ul class="list-group list-group-flush">
                    {% if object_list %}
                        {% for category in object_list %}
                            <li class="list-group-item">
                                <div class="float-left">
                                    <a href="{% url 'core:topics' category.pk %}">{{ category.name }}</a>
                                </div>
                                {% if user.is_superuser %}
                                <div class="float-right">
                                    <a class="badge badge-info" href="{% url 'core:update_category' category.pk %}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                        </svg>
                                        {% trans 'Edit' %}
                                    </a>

                                    <a class="badge badge-danger" href="{% url 'core:delete_category' category.pk %}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                        {% trans 'Delete' %}
                                    </a>
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans 'No categories' %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
