{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        {{ category.name }}
                    </div>
                    <div class="float-right">
                        <a href="{% url 'core:create_topic' category.pk %}" class="badge badge-success">{% trans 'Create new topic' %}</a>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    {% if object_list %}
                        {% for topic in page_obj %}
                            <li class="list-group-item">
                                <div class="float-left">
                                    <a href="{% url 'core:topics_posts' topic.pk %}">{{ topic.name }}</a>
                                </div>

                                <div class="float-right">
                                    <!-- placeholder -->
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans 'No topics' %}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="pagination justify-content-center mt-4">
                {% bootstrap_pagination page_obj %}
            </div>
        </div>
    </div>
{% endblock %}
