{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <div class="row">
        <div class="col">
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'login' %}?next={{ next }}">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="d-none d-lg-block d-xl-block">
                    {% bootstrap_button _("Login") button_type="submit" button_class="btn btn-primary" %}
                    <a href="{% url 'core:index' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
                <div class="d-lg-none d-xl-none">
                    {% bootstrap_button _("Login") button_type="submit" button_class="btn btn-primary btn-block" %}
                    <a href="{% url 'core:index' %}" class="btn btn-secondary btn-block">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
