{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{% blocktrans with username=request.user.username %}Password was changed for user {{ username}}{% endblocktrans %}</h1>
            <a class="btn-link" href="{% url 'core:index' %}">{% blocktrans %}Return to main page{% endblocktrans %}</a>
        </div>
    </div>
{% endblock %}
